/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT */
:root {
  --black: #000;
  --white: #fff;
}

/* BODY */
body {
  font-family: 'Outfit', sans-serif;
  background: var(--black);
  color: var(--white);
}